// COLORS

///////////////// THEME ONE /////////////////

// Backgrounds

$one-main-background: hsl(222, 26%, 31%);
$one-toggle-background: hsl(223, 31%, 20%);
$one-screen-background: hsl(224, 36%, 15%);

// Keys

$one-key-background: hsl(225, 21%, 49%);
$one-key-shadow: hsl(224, 28%, 35%);

$one-key-red: hsl(6, 63%, 50%);
$one-key-dark-red: hsl(6, 70%, 34%);

$one-key-light-orange: hsl(30, 25%, 89%);
$one-key-gray-orange: hsl(28, 16%, 65%);

// Text

$one-text-dark-grey-blue: hsl(221, 14%, 31%);
$one-text-white: hsl(0, 0, 100%);

///////////////// THEME TWO /////////////////

// Backgrounds

$two-main-background: hsl(0, 0%, 90%);
$two-toggle-background: hsl(0, 5%, 81%);
$two-screen-background: hsl(0, 0%, 93%);

// Keys

$two-key-background: hsl(185, 42%, 37%);
$two-key-shadow: hsl(185, 58%, 25%);

$two-key-orange: hsl(25, 98%, 40%);
$two-key-dark-orange: hsl(25, 99%, 27%);

$two-key-light-gray-yellow: hsl(45, 7%, 89%);
$two-key-dark-gray-yellow: hsl(35, 11%, 61%);

// Text

$two-text-dark-gray-yellow: hsl(60, 10%, 19%);
$two-text-white: hsl(0, 0, 100%);

///////////////// THEME THREE /////////////////

// Backgrounds

$three-main-background: hsl(268, 75%, 9%);
$three-toggle-background: hsl(268, 71%, 12%);
$three-screen-background: hsl(268, 71%, 12%);

// Keys

$three-key-background: hsl(281, 89%, 26%);
$three-key-shadow: hsl(285, 91%, 52%);

$three-key-cyan: hsl(176, 100%, 44%);
$three-key-light-cyan: hsl(177, 92%, 70%);

$three-key-dark-violet: hsl(268, 47%, 21%);
$three-key-dark-magenta: hsl(290, 70%, 36%);

// Text

$three-text-light-yellow: hsl(52, 100%, 62%);
$three-text-dark-blue: hsl(198, 20%, 13%);
$three-text-white: hsl(0, 0, 100%);

///////////////// TYPOGRAPHY /////////////////

$font-size-numbers: 3.2rem;
