.calculator {
  min-width: 100vw;
  min-height: 100vh;

  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;

  &-theme-one {
    background-color: $one-main-background;
  }

  &-theme-two {
    background-color: $two-main-background;
  }

  &-theme-three {
    background-color: $three-main-background;
  }
}

.container {
  max-width: 35rem;

  @include respond(phone) {
    padding: 1.8rem;
    height: 100vh;
    max-width: 100vw;
  }

  display: grid;
  grid-template-rows: min-content min-content 1fr;
  gap: 1.6rem;
  align-content: center;
  justify-content: center;
}
