.keyboard {
  padding: 1.6rem;

  border-radius: 0.7rem;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-items: center;
  gap: 1.6rem;

  transition: all 0.4s;

  &-theme-one {
    background-color: $one-toggle-background;
  }

  &-theme-two {
    background-color: $two-toggle-background;
  }

  &-theme-three {
    background-color: $three-toggle-background;
  }
}
