.display {
  width: 100%;
  color: $one-text-white;

  padding: 1.8rem;
  border-radius: 0.7rem;

  transition: all 0.4s;

  &-theme-one {
    background-color: $one-screen-background;
  }

  &-theme-two {
    background-color: $two-screen-background;
    color: #000;
  }

  &-theme-three {
    background-color: $three-screen-background;
    color: $three-text-light-yellow;
  }
}

.currentValue {
  font-size: 3.2rem;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  text-align: center;

  @include respond(small-phone) {
    font-size: 4.2rem;
  }

  @include respond(smallest-phone) {
    font-size: 6.4rem;
  }

  &-small {
    font-size: 1.6rem;
  }
}

.prevValue {
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
  text-align: left;

  @include respond(smallest-phone) {
    font-size: 2.4rem;
  }
}
