.wide-key {
  width: 100%;
  font-size: 1.8rem;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  padding: 2rem 2rem 1.4rem 2rem;
  cursor: pointer;

  grid-column: span 2;

  display: flex;
  align-items: center;
  justify-content: center;

  line-height: 0;

  transition: all 0.4s;

  &:active {
    box-shadow: none;
    transform: translateY(0.3rem);
  }

  &-theme-one {
    background-color: $one-key-light-orange;
    box-shadow: 0 0.3rem $one-key-gray-orange;

    &-reset {
      background-color: $one-key-background;
      font-size: 1.2rem;
      color: $one-text-white;
      box-shadow: 0 0.3rem $one-key-shadow;
    }

    &-equals {
      background-color: $one-key-red;
      color: $one-text-white;
      box-shadow: 0 0.3rem $one-key-dark-red;
    }
  }
  &-theme-two {
    background-color: $one-key-light-orange;
    box-shadow: 0 0.3rem $one-key-gray-orange;

    &-reset {
      background-color: $two-key-background;
      font-size: 1.2rem;
      color: $one-text-white;
      box-shadow: 0 0.3rem $two-key-shadow;
    }

    &-equals {
      background-color: $one-key-red;
      color: $one-text-white;
      box-shadow: 0 0.3rem $one-key-dark-red;
    }
  }
  &-theme-three {
    background-color: $three-key-dark-violet;
    box-shadow: 0 0.3rem $three-key-dark-magenta;
    color: $three-text-light-yellow;

    &-reset {
      background-color: $three-key-background;
      font-size: 1.2rem;
      color: $one-text-white;
      box-shadow: 0 0.3rem $three-key-shadow;
    }

    &-equals {
      background-color: $three-key-cyan;
      color: #000;
      box-shadow: 0 0.3rem $three-key-light-cyan;
    }
  }
}
